body {
    margin: 0;
}
.page {
    min-width: 320px;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 100px;
}
.slider {
    margin-bottom: 50px; 
}
/***
************************************/

.slider {
    
    &_js {
        position: relative; 
    }

    &__body {
        position: relative;
        overflow: hidden; 
    }
    &__list_js {
        position: relative; 
        margin: 0 !important;
        padding: 0 !important;
    }
    &__item {
        display: none;
        
        &_js {
        position: absolute;
        display: none;
        opacity: 0;
        top: 0;
        left: 0;
        max-width: 100%;
        margin: 0 !important;
        padding: 0 !important;
        height: auto; 
        list-style: none;
        }
        
        &_active_js {
            display: block;
            position: relative;
            opacity: 1;
            -ms-transform: translate3d(0,0,0); /* Для IE */
            -webkit-transform: translate3d(0,0,0); /* Для Safari, Chrome, iOS */
            -o-transform: translate3d(0,0,0); /* Для Opera */
            transform: translate3d(0,0,0);
            z-index: 10;
        }
        
        &_right_js {
            display: block;
            opacity: 1;
            width: 100%; //need for crossbrowsers
            -ms-transform: translate3d(100%,0,0); /* Для IE */
            -webkit-transform: translate3d(100%,0,0); /* Для Safari, Chrome, iOS */
            -o-transform: translate3d(100%,0,0); /* Для Opera */
            transform: translate3d(100%,0,0);
        }
        
        &_left_js {
            display: block;
            opacity: 1;
            width: 100%; //need for crossbrowsers
            -ms-transform: translate3d(-100%,0,0); /* Для IE */
            -webkit-transform: translate3d(-100%,0,0); /* Для Safari, Chrome, iOS */
            -o-transform: translate3d(-100%,0,0); /* Для Opera */
            transform: translate3d(-100%,0,0);
        }
        
    }
    
    &__image {
        display: inline-block;
        vertical-align: top;
        max-width: 100%;

    }
    
    /**ARROWS <>**/
    &__control {
        position: absolute;
        top: 50%;
        height: 50px;
        width: 25px;
        line-height: 45%;
        margin-top: -25px;
        padding: 0 25px;
        display: block;
        text-decoration: none;
        font-size: 5em;
        color: #FFF;
        text-shadow: 2px 0px 15px rgba(0, 0, 0, 1);
        font-weight: bold;
        text-align: center;
        z-index: 12;
        outline: none;
        &_prev_js {
            left: -75px;
            transition: all  0.5s ease-out; 
        }
        &_next_js {
            right: -75px;
            transition: all  0.5s ease-out;
        }
    }
    &:hover {
        .slider__control {
            &_prev_js {
                left: 0;
            }
            &_next_js {
                right: 0;
            }
        }
    }
    
    /**TEXT**/
    &__item-text {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0.8em 1em;
        background: rgba(0,0,0,0.6); 
        color: #FFF;
        font-size: 0.9em;
        text-align: left;
    }
}

/** BOTTOM ROUNDS **/
.controls-list_js {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 0;
}
.controls-item {
    &_js {
        display: inline-block;
        vertical-align: top;
        height: 12px;
        width: 12px;
        border: 1px solid #CCC;
        border-radius: 50%;
        margin: 6px;
        background: #CCC;
        cursor: pointer;
    }
    &:hover {
        border-color: #999999; 
    }

    &_active_js {
        background: #999999;
        border-color: #999999; 
    }
}

.slider_swipe .slider__control_prev_js,
.slider_swipe .slider__control_next_js {
    display: none !important; 
}
.slider__image + .slider__image {
    display: none;
}

@media all and (max-width: 684px) {
    .slider {
        &__control {
        font-size: 2em; 
        }
    }  
}
@media all and (max-width: 479px) {
    .slider {
        &__control {
        font-size: 1em; 
        }
    }  
}
